# Comprehensions
Comprehensions in Python are a succinct and powerful feature for creating and transforming data structures. They provide a concise syntax for generating and modifying iterables such as lists and dictionaries, allowing for efficient operations on iterable objects in just a single line of code.

They follow the general syntax `[expression for item in iterable if condition]`

# List comprehensions

### Example
Creating list comprehensions

In [2]:
daily_sales = [120, 105, 133, 89, 74, 112, 115]

In [3]:
# Calculate the profit for each day assuming profit is 10% of the sales and store out of profit in a list

In [9]:
profit_sales=[]
for sales in daily_sales:
    profit=round(0.1*sales,2)
    profit_sales.append(profit)
print(profit_sales)

[12.0, 10.5, 13.3, 8.9, 7.4, 11.2, 11.5]

In [10]:
profit_sales=[round(0.1*i,2) for i in daily_sales]
print(profit_sales)
#[expression for loop]

[12.0, 10.5, 13.3, 8.9, 7.4, 11.2, 11.5]

In [11]:
# Create a list where each element is the square of number 1 to 6

In [13]:
[i**2 for i in range(1,7)]

[1, 4, 9, 16, 25, 36]

In [14]:
my_string = 'Hello'

In [15]:
comp_list = [char for char in my_string]

In [16]:
comp_list

['H', 'e', 'l', 'l', 'o']

# Filtering elements from lists using comprehensions

### Example
List comprehensions with conditions

In [21]:
# Write a python code to extract the even numbers from the list of numbers 30 to 60 (both inclusive)

In [17]:
even_numbers=[]
for i in range(30,61):
    if i%2==0:
        even_numbers.append(i)
print(even_numbers)

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [18]:
#[expression for loop if condition]
even_numbers=[i for i in range(30,61) if i%2==0]
print(even_numbers)

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [19]:
# do the above same thing for odd numbers
odd_numbers=[i for i in range(30,61) if i%2!=0]
print(odd_numbers)

[31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59]

In [21]:
words = ['apple', 'banana', 'kiwi', 'orange', 'grape']

In [22]:
# print all words whose length in greator than 5 in a list
long_words = [word for word in words if len(word) > 5]
long_words

['banana', 'orange']

In [23]:
numbers = [-2, -1, 0, 1, 2, 3, 4, 5]

In [24]:
pos_nums = [num for num in numbers if num > 0]

In [25]:
pos_nums

[1, 2, 3, 4, 5]

In [26]:
# Write a python code to extract the even numbers list and odd numbers list from the list of numbers 30 to 60 (both inclusive)

In [ ]:
#[expression if condition else expression for loop]

In [33]:
# check the eligibility of loan of 50k basis income provided by customers (eligibility if their income is more than
# 25% of loan amount then they are eligible otherwise not eligible)
income_list=[10000,20000,30000,13000,3000,31000,50000,27000]
loan_amount=int(input())
["Eligible" if i >0.25*loan_amount else "Not Eligible" for i in income_list ]

90000

['Not Eligible',
 'Not Eligible',
 'Eligible',
 'Not Eligible',
 'Not Eligible',
 'Eligible',
 'Eligible',
 'Eligible']

In [ ]:
#[expression for loop]
#[expression for loop if condition]
#[expression if condition else condition for loop]

# Set comprehensions

In [ ]:
#{expression for loop}
#{expression for loop if condition}
#{expression if condition else condition for loop}

### Example
Set comprehensions

In [34]:
my_set = {1, 2, 3, 4, 5}

In [35]:
my_set

{1, 2, 3, 4, 5}

In [36]:
comp_set = {num for num in my_set}

In [37]:
comp_set

{1, 2, 3, 4, 5}

In [38]:
comp_set = {num for num in range(6)}

In [39]:
comp_set

{0, 1, 2, 3, 4, 5}

In [40]:
comp_set = {num for num in [23, 56, 76, 24, 52]}

In [41]:
comp_set

{23, 24, 52, 56, 76}

In [42]:
my_string = 'Some text'

In [43]:
comp_set = {char for char in my_string}

In [44]:
comp_set

{' ', 'S', 'e', 'm', 'o', 't', 'x'}

# Transforming sets

### Example
Transforming sets

In [45]:
my_set = {'basketball', 'football', 'cricket', 'curling', 'running'}

In [46]:
capped_set = {word.upper() for word in my_set}

In [47]:
capped_set

{'BASKETBALL', 'CRICKET', 'CURLING', 'FOOTBALL', 'RUNNING'}

# Filtering elements from sets using comprehensions

### Example
Set comprehensions with conditions

In [48]:
my_set = {1, 2, 3, 4, 5, 6}

In [49]:
odd_set = {num for num in my_set if num % 2 != 0}

In [50]:
odd_set

{1, 3, 5}

In [51]:
even_set = {num for num in my_set if num % 2 == 0}

In [52]:
even_set

{2, 4, 6}

In [53]:
vegetables_set = {'carrot', 'broccoli', 'tomato', 'spinach', 'cucumber', 'bell pepper',
                  'zucchini', 'asparagus', 'sweet potato', 'cauliflower', 'kale',
                  'eggplant', 'green beans', 'peas', 'radish'}

fruits_set = {'apple', 'banana', 'orange', 'grape', 'kiwi', 'strawberry',
              'watermelon', 'pineapple', 'mango', 'peach', 'pear',
              'blueberry', 'raspberry', 'plum', 'cherry'}

In [54]:
item_purch = {'carrot', 'broccoli', 'tomato', 'spinach', 'cucumber', 'bell pepper',
             'apple', 'banana', 'orange', 'grape', 'kiwi', 'strawberry'}

In [55]:
fruits={i for i in item_purch if i in fruits_set}
vegetables={i for i in item_purch if i in vegetables_set}
print(fruits)
print(vegetables)

{'strawberry', 'banana', 'grape', 'apple', 'orange', 'kiwi'}
{'cucumber', 'carrot', 'tomato', 'broccoli', 'bell pepper', 'spinach'}

# Dictionary comprehensions

### Example
Dictionary comprehensions

In [58]:
dict_comp = {i:i for i in range(4)}

In [59]:
dict_comp

{0: 0, 1: 1, 2: 2, 3: 3}

In [61]:
dict_comp = {num: num ** 2 for num in range(3)}

In [62]:
dict_comp

{0: 0, 1: 1, 2: 4}

In [65]:
words = ['apple', 'banana', 'kiwi', 'orange', 'grape']

In [66]:
dict_comp = {word: len(word) for word in words}

In [67]:
dict_comp

{'apple': 5, 'banana': 6, 'kiwi': 4, 'orange': 6, 'grape': 5}

# Transforming dictionaries

### Example
Transforming dictionaries

In [68]:
original_dict = {'a': 2, 'b': 3, 'c': 4}
original_dict

{'a': 2, 'b': 3, 'c': 4}

In [69]:
squared_dict = {key: value ** 2 for key, value in original_dict.items()}

In [70]:
squared_dict

{'a': 4, 'b': 9, 'c': 16}

# Filtering elements from dicitionaries using comprehensions

### Example
Dictionary comprehensions with conditions

In [71]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [72]:
even_dict = {key: value for key, value in my_dict.items() if value % 2 == 0}

In [73]:
even_dict

{'b': 2, 'd': 4}

In [74]:
odd_dict = {key: value for key, value in my_dict.items() if value % 2 != 0}

In [75]:
odd_dict

{'a': 1, 'c': 3, 'e': 5}

### Quiz
Consider the following list of car models: `['Toyota', 'Honda', 'Ford', 'Chevrolet', 'BMW', 'Mercedes', 'Tesla', 'Nissan']
`. Create a dictionary that maps the names of the cars with their first letter.

In [76]:
ls=['Toyota', 'Honda', 'Ford', 'Chevrolet', 'BMW', 'Mercedes', 'Tesla', 'Nissan']
out={i:i[0] for i in ls}
print(out)

{'Toyota': 'T', 'Honda': 'H', 'Ford': 'F', 'Chevrolet': 'C', 'BMW': 'B', 'Mercedes': 'M', 'Tesla': 'T', 'Nissan': 'N'}

### Quiz
Given a list of numbers `[3, 8, 15, 7, 11, 22, 5, 14]`, create a dictionary that maps the numbers with their cubes

In [77]:
ls=[3, 8, 15, 7, 11, 22, 5, 14]
out={i:i**3 for i in ls}
print(out)

{3: 27, 8: 512, 15: 3375, 7: 343, 11: 1331, 22: 10648, 5: 125, 14: 2744}