# Variables
In Python, a variable is a reserved memory location to store values. You can think of it as a container that holds data. Variables are created when you assign a value to them.

In [1]:
a=1
# a is a variable
# 1 is the value assigned to a
# whatever line starts with # those are considered as comments means python will ignore those lines
# to run the code you can click run button above or you can use shift+enter (shortcut)

In [2]:
print(a)
# print is the python function to display any results

1

In [3]:
a

1

In [4]:
a=10
b=20

In [5]:
print(a,b)

10 20

### Example
Rules to follow for naming variables

*   A variable name cannot contain spaces
*   A variable name cannot start with a digit
* A variable name can only contain alpha-numeric characters and underscores (`a-z, A-Z, 0-9, and _ `)
* The variable name cannot be any keywords
* Variable names are case-sensitive

In [ ]:
a b=4 --> not correct
1as=5 --> not correct
a1=6  --> correct
a1s=7 --> correct
a_s=7 --> correct
a@f=7 --> not correct

In [6]:
my_age=25

In [7]:
my&age=25

SyntaxError: cannot assign to operator (<ipython-input-7-cc9fb34837f0>, line 1)

In [8]:
_var_=5

In [9]:
_=6

# Basic Python commands

### Example
Getting user inputs using the `input()` function

In [17]:
name=input("Enter the name:")

Enter the name:vijay

In [18]:
print(name)

vijay

# Basic data types

### Example
Integers

In [19]:
age=28

In [20]:
type(age)

int

In [21]:
y=-20

In [22]:
type(y)

int

### Example
Creating float variables (decimal)

In [23]:
dollar_to_inr= 82.3

In [24]:
type(dollar_to_inr)

float

In [25]:
age=28.0

In [26]:
type(age)

float

### Example
Strings

In [27]:
my_string="Upgrad"

In [28]:
type(my_string)

str

In [29]:
my_string='Upgrad'

In [30]:
type(my_string)

str

In [31]:
num_string="28"

In [32]:
type(num_string)

str

In [33]:
float_str="23.0"

In [34]:
type(float_str)

str

In [35]:
string="10000"

In [36]:
type(string)

str

# Typecasting
The process of converting one data type into another one is referred to as **typecasting**

In [37]:
num=28

In [38]:
type(num)

int

In [39]:
float(num)

28.0

In [40]:
# Interger can be typecasted to Floats without an issue

In [41]:
num=28.999999

In [43]:
type(num)

float

In [44]:
int(num)

28

In [63]:
# Floats can be typecasted to integers by loosing information post decimal

In [46]:
string="Upgrad"

In [47]:
type(string)

str

In [48]:
int(string)

ValueError: invalid literal for int() with base 10: 'Upgrad'

In [49]:
float(string)

ValueError: could not convert string to float: 'Upgrad'

In [50]:
string="28"

In [51]:
type(string)

str

In [52]:
int(string)

28

In [53]:
float(string)

28.0

# Arithmetic operators

### Example
The `+` operator

In [54]:
a=10
b=20
c=a+b
print(c)
print(a+b)

30
30

In [55]:
# String Concatenation
a="Upgrad"
b="Edtech Company"
c=a+" "+b
print(c)

Upgrad Edtech Company

### Example
The `-` operator

In [56]:
a=10
b=20
c=a-b
print(c)
print(a-b)

-10
-10

### Example
The `*` operator

In [57]:
a=10
b=20
c=a*b
print(c)
print(a*b)

200
200

In [60]:
a="Upgrad "
c=a*4
print(c)

Upgrad Upgrad Upgrad Upgrad

In [61]:
a=10
b=20
c=a*b
print(c)
print(a*b)
a="Upgrad "
c=a*4
print(c)

200
200
Upgrad Upgrad Upgrad Upgrad

### Example
The `/` operator (float type division)

In [81]:
a=10
b=20
c=a/b
print(c)
print(a/b)

0.5
0.5

### Example
The `//` operator (Integer Type Division)

In [83]:
a=100
b=21
c=a//b
print(c)
print(a//b)

4
4

In [86]:
a=100
b=21
c=a/b
print(c)

4.761904761904762

### Example
The `**` operator

In [65]:
a=76
b=2
c=a**b
print(c)

5776

### Example
The `%` operator

In [90]:
# Modulus Operator or Remainder operator

In [66]:
a=13
b=10
rem=a%b
print(rem)

3

In [67]:
a=189
b=50
rem=a%b
print(rem)

39

### Quiz
Create a simple app that takes input of users' details and prints them

In [68]:
username=input("Enter the name: ")
print(username)

Enter the name: Shweta
Shweta

In [ ]:
# age =
# profession =
# nationality =
# Print all of them one by one

In [69]:
age=input("Enter the age: ")
profession=input("Enter the profession")
nationality=input("Enter the nationality")
print("Entered Age is ",age)
print(profession)
print(nationality)

Enter the age: 29
Enter the professionLead Data Scientist
Enter the nationalityIndian
Entered Age is  29
Lead Data Scientist
Indian

### Quiz
Create a simple app that takes uses' first and last names and prints the users' full name

In [70]:
first_name=input("Enter the first name:")
last_name=input("Enter the last name:")
full_name=first_name + " " + last_name
print(full_name)

Enter the first name:Shivam
Enter the last name:Garg
Shivam Garg

### Quiz
Find the sum of $245.46$, $122.7$, and $109.45$

In [71]:
num1=245.46
num2=122.7
num3=109.45
summation=num1+num2+num3
print(summation)

477.61

### Quiz
Store your name in a string. Output the value of the variable. Print it. Verify its type. Find its length.

In [72]:
name='Shivam Garg'
print(name)

Shivam Garg

In [73]:
type(name)

str

In [74]:
len(name)

11